<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Book room</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <form action="/book" method="post">
                <div class="modal-body">
                    <label for="room_id">Room Number</label>
                    <input id="room_id" class="form-control" name="room_id" type="text">
                    <label for="date">Date</label>
                    <input name="date" id="date" class="form-control">
                    <label for="num_people">Number of people</label>
                    <input name="num_people" type="number" id="num_people" class="form-control" required></input>
                    <label for="timeslot">Time slot</label>
                    <select name="timeslot" id="timeslot" class="form-select" required>
                        <option selected>Before school (7:00 to 7:30)</option>
                        <option>Lunch time (13:00 to 13:40)</option>
                        <option>After school (15:00 to 16:00)</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Book!</button>
                </div>
            </form>
        </div>
    </div>
</div>